<a href="https://colab.research.google.com/github/tinashekm/Business-Programming/blob/main/a_taste_of_python_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Taste of Python

Computers do two things really well. ***Store values*** and ***perform operations*** on those values

You might think they’re doing a whole lot more, as you send texts, shop online, or rely on your phone to navigate in your car; however, everything computers do can be broken down into simple operations that are performed on simple values.

Now, part of computational thinking is learning to use these operations and values to build something that is much more sophisticated, complex, and meaningful—and we’re going to get to that. 

First, though, we’re going to take a look at what these values are, the operations you can perform on them, and just what role variables play in all this.

# Store Values

### What is a value?

Because programs are written to process data, you must have a good understanding of the nature and structure of the data being processed.

Data within a program may be a single value, such as a number.  In the cell below try some different numbers, say 123, or 31.7.

In [ ]:
123

123

In [ ]:
31.7

31.7

Data within a program may be a single value, such as a character.  Are the quotes important? Is 'A' different from 'a'?

In [ ]:
'A'

'A'

In [ ]:
A

NameError: ignored

In [ ]:
"A"

'A'

In [ ]:
True
123
'A'

'A'

In [ ]:
type(2)

int

In [ ]:
[1, 2, 3, 4, 5, 4]

[1, 2, 3, 4, 5, 4]

Data within a program may be a single value, such as true or false.  In programming we call the a booloean value, sometimes abbreviated as bool.

In [ ]:
type ([1, 2, 3, 4, 5])

list

Data within a program may be a group items such as a list.  The list could contian the same or different type of values.

In [ ]:
type("a")

str

Data within a program may be a group items such as a string.

Is there a way to determine the type of an item is? In Python we have a the *type()* function. In the cell below, find out the type of  3, 3.0, '3', '3.0'  and [3, 3.0,'3', '3.0'].
> We are going to use functions a lot, before long you will understand exactly how they work and even know how to create your own, but for now just think of them as a way to *ask* Python to do some work.  In the cell is known as **calling** the *type* function.  Functions have a name followed by left parenthesis, a data item and end with a right parenthesis.

In [ ]:
age = 21

What are the different types?  Here is a simple table, we will expand on this later.

| Data Type | Python Expressions | Description                   | Example |
|-----------|--------------------|-------------------------------|---------|
|integer    | int                | A whole numeber               | 143267  |
|decimal    | float              | A floating point number       | 3.13159 |
|string     | str                | Set of characters in quotes   | "Hello" |
|boolean    | bool               | anything evaluates true/false | True    |
|List       | list               | An ordered list of values     | [1,4,5] |



### How do we store values?

To be useful we need a way to store values in computer's memory.  To this we need to be able to identify a location in memory.  We could use a memory address but that could get confusing, instead we given the location a name, and identifier.  In programming we call this a variable.  A ***variable*** is the name given to a part of the computers memory, designed to store aprticular data item.  It is called a variable because the value stored may change or vary as the program executes. The values we typed in above are know as literals. A **literal** is a constant whose *name* is the written representaiton of the value.  A ***constant*** is a data item with a name amd a value that will remian the same during the executation of a program.  We will use constants later.

To store a value, we create a variable and then assign the value.  To assign  a value we use the equals (**=**) sign.

In [ ]:
age = 21

What is the type of a variable?  We can use the type() function to find out.
> Notice how we can use a *variable* just like we use a *value* in the above cells

In [ ]:
type (age)

We can assigned group items to variables

In [ ]:
rainfall = [1, 2, 3, 4]
rainfall

In [ ]:
table = [[1, 2, 3], ['a', 'b', 'c'], [10, 11, 12]]
table

[[1, 2, 3], ['a', 'b', 'c'], [10, 11, 12]]

We can change a varialbe

In [ ]:
age

21

In [ ]:
age = 17
age

17

#### Naming rules

Variable names must be unique and they are case sensitive.
* Only letters, numbers, and the underscore character (_) can be used  ```this.is.not.allowed```
* No spaces ```this is not allowed```
* No quotes ```“NotAllowed”```
* Can’t start with a number ```6notAllowed```
* Can't be a keyword  ```import```

#### Naming conventions
We will learn other naming conventions, but for now
* variable names should be meaningfuly (can someone else understand)
* seperate words with underscores ```monthly_sales```  (this is called snake_case)



# Perform Operations

There are six basic computer operations.

1. Receive Informaiton.
1. Output information.
1. Assign a value to a variable. There are three cases where you may assign a value to variable.
    * give data an initial value.
    * assign a value as a results of some processing
    * to keep a piece of information for later use.
1. Perform arithmetic.
1. Compare two variables and select appropriate action.
1. Repeat a group of actions.

> When designing an algorithm you need to keep in mind that the set of instruction written will eventually be performed by a computer.  That is your words and phrases in the pseudocode which are in line with computer operations, the translation form pseudocode to specific programming language becomes quite simple.

## Receive Information

Python has a *input* function that will allow you to enter information form the keyboard.

In [ ]:
input ('What is your name')

What is your nameTinashe

'Tinashe'

How does *input* work?
1. The interpreter see the call to the *input* function, it take the prompt text and displays it for the user
2. The interpreter then waits for the user to type in a repsonse, which the user completes by pressing the return key (also called the enter key)
3. Finally the text the user types in is passed back to your code.

Now, the text isint going to be useful if we cant remember it for later.  To do this we store the *return value* to a variable

## Output Information

Python has a *print* function that can output a message to the screen

In [ ]:
print ("This is a surname")

This is a surname

The interpreter sees the call to the *print* function, it takes the message text and displys it to the user.

Can we print variables?

As you can see the *print* function will take a **literial** or a **variable**.  We will see later that the *print* function can do more, but this is a good start.

## Assign a value to a variable

We have seen each of three cases, but I will repeat here for clarity.

I have added some *comments* to the code.  Comments are just notes after the **#** marks.  We use comments to explain the purpose of the code.  Comments can be thought of as helpful pseudocode.

In [ ]:
# example of giving a variable an initial value
age = 100

# example of assigning a value as a result of some processing
name = input("What is your name?" ) 

# example of using a piece of information later
print(name, age, 'y')

What is your name?Tinashe
Tinashe 100 y

## Perform Arithmetic


| Operation | Description           | Example       |  Result  |
|:---------:|-----------------------|---------------|----------|
| ```+```   | Addition              | ```3 + 2.2``` | ```5.2```|
| ```-```   | Subtraction           | ```5 - 2```   | ```3```  |
| ```*```   | Multiplication        | ```3 * 8```   | ```24``` |
| ```**```  | Raise to the power of | ```3 ** 2```  | ```9```  |
| ```/```   | Division              | ```5/2```     | ```2.5```|
| ```//```  | Integer Division      | ```5/2```     | ```2```  |
| ```%```   | Modulo                | ```5%2```     | ```1```  |

Use the cell below to try out some of the examples

In [ ]:
3 + 2.2

5.2

```3 + 2.2``` is called an expression.  When you evaluate an expression you can store the result into a variable

In [ ]:
total = 3 + 2.2
print(total)

5.2

You can print expresisons

In [ ]:
print(3 + 2.2)

5.2

Can perform arithmetic with variables

In [ ]:
int(1234567)

1234567

In [ ]:
number_1 = 1
int_number_1 = int(number_1)

number_2 = 2
int_number_2 = int(number_2)

total = number_1 + number_2

print(total)

3

Lets sum two number input form the user

In [ ]:
number_1 =int(input(  "Please input the first number"  ))

number_2 = int(input( "Please input the second number"  ))
total = number_1 + number_2
print(total)

Please input the first number4
Please input the second number2
6

What happened?  It didn't add the input, it joined(concatenated) the input.  Lets run the next two cell to investigate.

In [ ]:
number_1 = input("Please input the first number")
type(number_1)

Please input the first number3

str

So the data type of the variables were string.  So the *input* function must return a *str* data type.

There is a way we can convert, we can use the *int* function.  So "12" is a string os the characters '1' followed by the character '2'.  To convert the string we use the int("12"), and this will return the number 12.

In [ ]:
age = input("How old are you? ")
print
converted_age = int(age)
print(converted_age)
type(converted_age)

How old are you? 21
21

int

## Compare Two Variables

Here is a simple program prints out the maximun of two numbers.  This also demonstrates some features of the Python language.

> New lines are used to separate logical statements (similar to a period at the end of a sentence).
>
> Whitespaces (spaces and tabs) are used to indicate which statements should be grouped together (called blocks) 
>
> Colons (:) are used to indicate the continuation of an idea at a deeper level. 

Try changing the numbers, and rerun the cell.  What happens if you swap *>* for *<*?   What is *<*? We use a *relational operator* to ask a True/False question about the realtionship between two variables.  The followinf table show the relational operators used in Python. 


| Operation | Description            | Example           |  Result     |
|:---------:|------------------------|-------------------|-------------|
| ```<```   | Less than              | ```3 < 2```       | ```False``` |
| ```>```   | Greater than           | ```3 > 2```       | ```True```  |
| ```<=```  | Less than or equal     | ```3 <= 2```      | ```False``` |
| ```>=```  | greater than or equal  | ```3 >= 2```      | ```True```  |
| ```==```  | equal to               | ```3 == 2```      | ```False``` |
| ```!=```  | not equal to           | ```3 != 2```      | ```True```  |
| ```not``` | not                    | ```not(3 == 2)``` | ```True```  |

In [ ]:
first_number = 3
second_number = 2

if first_number < second_number:
  print("first number is smaller")
else:
    print("first number is larger")

Notice the keyword are highlighted in a different colour.  This example uses a boolean expresison: ```first_number > second_number```.  A boolean expression is an *epxression* the evaluates to *True* or *False*.  The expresiosn uses a *relational operator*.  

 Can you write a version that prompts the user for the numbers?  What happens if you enter in the same number?

#### Repeat a group of actions

Lets say I want to print out a countdown.  I could do a print statement for each.

In [1]:
print(10)
print(9)
print(8)
print(7)
print(6)
print(5)
print(4)
print(3)
print(2)
print(1)
print("Blast Off!")

10
9
8
7
6
5
4
3
2
1
Blast Off!

Notice that each line is very similar, a print statement, and just printing out a different number.

It turns out, repeating something is very common in programming and all languages provide way to do this easier.  In Python we can use the *for* loop. We will use a list of numbers.  Recall in Python a *list* is ordered.   There are other way to do this, but this notebook is to just give us a understanding.  We will explore loops in more detail in later notebooks.

In [3]:
for count in [10,9,8,7,6,5,4,3,2,1] :
 print (count)
print ("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!